<h1>New entry</h1>

<div class="row">

	<div class="span7">

		<%= render 'form' %>


	</div>

	<div class="span5">


		<p>A picture is worth a thousand words. Right right. Sometimes pictures need explaining, then they're worth like two thousand words. Maybe more. Who can tell?</p>

		<p>So here's what we're going to do:</p>

		<h4>Step 1</h4>

		<p>Tell us at least 250 characters worth about the photo you're posting. We want to know what it is, what it means. You can write more if you want, but it's gotta be at least 250.</p>

		<h4>Step 2</h4>

		<p>Attach it. Underneath your characters about the photo, make sure to attached it. We wont do anything wierd with it, or use it for anything - but we will make you crop it to portrait mode. Because it looks cool that way.</p>

		<h4>Step 3</h4>

		<p>Let's crop it down to the size of an iPhone screen. Hold your horses, we'll get there in a second. Type your words, and attach your pic. Press Create and let's go crop that thing!</p>

	</div>

</div>
